* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .1s ease, color .1s ease;
}

.App {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 32px 16px;
  text-align: center;
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--main);
}

a:hover {
  color: var(--anchor-hover)
}

button {
  background-color: var(--button);
  color: var(--text);
}

button:hover {
  border: 1px solid var(--main);
}

.map {
  min-height: 500px;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  flex: 1 !important;
}

.go {
  display: flex;
  align-items: center;
  gap: 1ch;
  font-size: 20px;
}

.go .fi {
  font-size: 40px;
}